.resource-button {
    margin: 10px 0;
}
.resource-count {
    margin: 4px 0;
}

.allocation-row {
    margin: 10px 0;
}

.allocation-item {
    min-width: 150px;
    display: inline-block;
    text-align: center;
}
.allocation-item-count {
    margin-right: 10px;
}
#game-status-wrap {
    position: relative;
    top: 52px;
    left: 404px;
    text-align: right;
}
.build-btn-title {
    min-width: 200px;
}
.build-multiplier-btn:nth-child(2) {
    margin-left: 10px;
}
